@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: oklch(95% 0.03 330);
  --foreground: oklch(5% 0.02 0);
  --card: oklch(94% 0.035 340);
  --card-foreground: oklch(5% 0.02 0);
  --popover: oklch(94% 0.035 340);
  --popover-foreground: oklch(5% 0.02 0);
  --primary: oklch(57% 0.22 348);
  --primary-foreground: oklch(98% 0.02 300);
  --secondary: oklch(91% 0.04 350);
  --secondary-foreground: oklch(5% 0.02 0);
  --muted: oklch(91% 0.035 345);
  --muted-foreground: oklch(45% 0.06 349);
  --accent: oklch(91% 0.02 0);
  --accent-foreground: oklch(5% 0.02 0);
  --destructive: oklch(60% 0.22 0);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(87% 0.035 350);
  --input: oklch(80% 0.035 347);
  --ring: oklch(72% 0.14 348);
  --chart-1: oklch(61% 0.18 12);
  --chart-2: oklch(39% 0.15 173);
  --chart-3: oklch(24% 0.09 197);
  --chart-4: oklch(66% 0.18 43);
  --chart-5: oklch(67% 0.21 27);
  --radius: 1rem;
  --color-one: oklch(60.07% 0.25 19.79);
  --color-one-30: oklch(60.07% 0.25 19.79 / 30%);
  --color-two: oklch(79.29% 0.23 12.73);
  --color-three: oklch(65.43% 0.24 294.94);
  --sidebar-background: oklch(94% 0.035 340);
  --sidebar-foreground: oklch(5% 0.02 0);
  --sidebar-primary: oklch(57% 0.22 348);
  --sidebar-primary-foreground: oklch(98% 0 0);
  --sidebar-accent: oklch(95.9% 0.02 240);
  --sidebar-accent-foreground: oklch(57% 0.22 348);
  --sidebar-border: oklch(91% 0.05 220);
  --sidebar-ring: oklch(59.8% 0.2 217.2);
  --sidebar: hsl(0 0% 98%);
}

[data-theme='dark'] {
  --background: oklch(8% 0.02 0);
  --foreground: oklch(98% 0.02 300);
  --card: oklch(10% 0.02 0);
  --card-foreground: oklch(98% 0.02 300);
  --popover: oklch(10% 0.02 0);
  --popover-foreground: oklch(98% 0.02 300);
  --primary: oklch(57% 0.22 348);
  --primary-foreground: oklch(98% 0.02 300);
  --secondary: oklch(19% 0.03 345);
  --secondary-foreground: oklch(98% 0.02 300);
  --muted: oklch(29% 0.03 349);
  --muted-foreground: oklch(49% 0.04 348);
  --accent: oklch(19% 0.15 349);
  --accent-foreground: oklch(98% 0.02 300);
  --destructive: oklch(60% 0.22 0);
  --destructive-foreground: oklch(98% 0 0);
  --border: oklch(17.33% 0.02 338.82);
  --input: oklch(18% 0.03 345);
  --ring: oklch(40% 0.22 348);
  --chart-1: oklch(50% 0.18 220);
  --chart-2: oklch(45% 0.16 160);
  --chart-3: oklch(55% 0.2 30);
  --chart-4: oklch(60% 0.19 280);
  --chart-5: oklch(55% 0.21 340);
  --color-one: oklch(60.07% 0.25 19.79);
  --color-one-30: oklch(60.07% 0.25 19.79 / 30%);
  --color-two: oklch(79.29% 0.23 12.73);
  --color-three: oklch(65.43% 0.24 294.94);
  --sidebar-background: oklch(10% 0.02 0);
  --sidebar-foreground: oklch(98% 0.02 300);
  --sidebar-primary: oklch(57% 0.22 348);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(15.9% 0.01 240);
  --sidebar-accent-foreground: oklch(57% 0.22 348);
  --sidebar-border: oklch(15.9% 0.01 240);
  --sidebar-ring: oklch(59.8% 0.2 217.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-one: var(--color-one);
  --color-one-30: var(--color-one-30);
  --color-two: var(--olor-two);
  --color-three: var(--color-three);

  --animate-image-glow: image-glow 4.1s ease-out 0.6s forwards;
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-shiny-text: shiny-text 8s infinite;
  --animate-shine: shine var(--duration) infinite linear;
  --animate-background-position-spin: background-position-spin 3000ms infinite
    alternate;
  --animate-border-beam: border-beam calc(var(--duration) * 1s) infinite linear;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-shine-button: shine-button 3s ease-out infinite;
  --animate-gradient-flow-button: gradient-flow-button 10s ease 0s infinite
    normal none running;

  --font-sans:
    'Vazirmatn', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }

  @keyframes image-glow {
    0% {
      content: var(--tw-content);
      opacity: 0;
      animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
    }
    100% {
      content: var(--tw-content);
      opacity: 0.7;
      animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes shine-button: {
    0% {
      background-position: 200% 0;
    }
    25% {
      background-position: -200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes gradient-flow-button: {
    0% {
      background-position: 0% 50%;
    }
    ,
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1.25rem;
  }

  @variant lg {
    padding-inline: 5rem;
  }

  @variant xl {
    padding-inline: 8rem;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  html::-webkit-scrollbar {
    width: 6px;
  }

  html::-webkit-scrollbar-track {
    background-color: var(--color-one-30);
  }

  html::-webkit-scrollbar-thumb {
    background: var(--color-one);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background: var(--color-one);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb:active {
    background: var(--color-one);
    border-radius: 10px;
  }

  html::-moz-scrollbar {
    width: 6px;
  }

  * {
    @apply border-border selection:bg-primary selection:text-primary-foreground;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
